.topo {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border: 1px solid black;
}

.logo {
    border: 1px solid red;
    margin-left: 15px;
}

.topo .logo img {
    width: 75px;
    height: 53px;
}

.icone {
    border: 1px solid blue;
    font-size: 30px;
    margin-right: 15px;
}
.topo .icone {
    font-size: 45px;
}


.conteudo {
    background-color: #E5E5E5;
}


.barra-inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    border: 1px solid black;
}

.barra-inferior .campo-texto {
    width: 300px;
    border: 1px solid black;
    margin-left: 15px;
}

input[type=text] {
    border: none;
    box-sizing: border-box;
    width: 300px;
}

input[type=text]::placeholder {
    color: black;
}

input[type=text] :focus {
    border: none;
    box-sizing: border-box;
}

.mensagem {
    background-color: #ffffff;
}

.status {
    background-color: #DCDCDC;
}

.reservada {
    background-color: #FFDEDE;
}


