@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;

}

/* .tela-login {

    background-color: #E5E5E5;
    height: 100vw;
    width: 100vw;
    z-index: 10;
}

.tela-login .logo {
    display: flex;
    justify-content: center;
}

.tela-login .logo img {
    width: 130px;
    height: 92px;
} */

.topo {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.logo {
    margin-left: 15px;
}

.topo .logo img {
    width: 75px;
    height: 53px;
}

.icone {
    font-size: 30px;
    margin-right: 15px;
}
.topo .icone {
    font-size: 45px;
}

.topo .icone:hover {
    cursor: pointer;
    opacity: 0.7;
}


.conteudo {
    background-color: #E5E5E5;
    padding-bottom: 90px;
    padding-top: 90px;
}


.barra-inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.barra-inferior .icone:hover {
    cursor: pointer;
    opacity: 0.7;
}



.barra-inferior .campo-texto {
    width: 300px;
    margin-left: 15px;
}

input[type=text] {
    border: none;
    box-sizing: border-box;
    width: 300px;
}

input[type=text]::placeholder {
    color: black;
}

input[type=text] :active {
    border: none;
    outline: invisible;
}

.mensagem {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400;
}

.status {
    background-color: #DCDCDC;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400;
}

.reservada {
    background-color: #FFDEDE;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400;
}

.hora {
    color: #AAAAAA;
    
}

.autor {
    color: #000000;
    font-weight: 700;
    margin-left: 10px;
}


.status,
.mensagem {
    width: 100%;
    height: 45px;
    margin: 4px 0px;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.reservada {
    width: 100%;
    height: 45px;
    margin: 4px 0px;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.hora {
    margin-left: 10px;
}

.destino {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.texto {
    margin-left: 10px;
}

.forte {
    margin-left: 10px;
    font-weight: 700;
}



.menu-lateral {
    width: 259px;
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}


.escondido {
    display: none;
}

.sombra {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.usuario {
    margin-left: 10px;
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: left;
}

.menu-lateral h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
}

ul.participantes {
    list-style-type: none;
}